*,
*::before,
*::after {
  box-sizing: border-box;
}
img{
    display: block
}
body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); ;
}



.container-hader{
    display: flex;
    align-items: center;
}


.nav {
    gap:40px;
    display: flex;
    align-items: center;
}
.adress-nav{
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.navigator{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a{
    text-decoration: none;
}

ul, ol {
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.logo-h .logo-f {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    margin-right:76px ;
    margin-left: 156px;
}


.studio {
    color: #2e2f42;
}

.logo-h{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
padding: 24px 0;
margin-right: 76px;
}


.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    list-style-type: none;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link.current{
    position: relative;
}

.link.current::after{
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
}


.navigator .link:hover,
.navigator .link:focus,
.navigator .link:active,
.link.current {
    color: #404bbf;
}


.adress {
    font-style: normal;
    margin-left: auto;
}
.one-punkt{
    display: block;
    padding: 24px 0;

}
.link-one{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress .link-one {
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.adress .link-one:hover,
.adress .link-one:focus {
    color: #404bbf;
}


.section-one {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-bg.jpg);
    display: flex;
    max-width: 1440px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    
}

.div-svg{
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 100%;
        height: 112px;
        margin-bottom: 8px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center; 
        align-items: center;  
}

.zag-one{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}



.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 48;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


.advantages,
.navigator,
.our-team,
.portfolio {
    list-style-type: none;
}



.advantages{
    

    display: flex;
   
    gap: 24px;
   
}
.p-adv{
    display: block;
    margin-top: 8px;  
}


.li-two{
    width: calc((100% - 72px) / 4);
}

.our-advant {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: none;
}
.section-two{
    padding: 120px 0;
}
.zag-z{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.p-adv {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.zag-z{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}

.adv-div{
   
    padding: 32px 0 ;
}
.team-list{
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 72px;
    
}


.pic{
    display: block;
    border-radius: 0px 0px 4px 4px;
    align-items: center;
    text-align: center;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team {
    
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.o-list-svg {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
  }
 
  .port-img{
    position: relative;
    overflow: hidden;
  }
  .p-port{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .p-portf{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
   
    
    

  }
  
  

  .team-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  }
  .team-link-icon:hover,
  .team-link-icon:focus{
    background-color: #404bbf;
  }
  .svg-team {
    fill:#f4f4fd;
  }
.ico{
    background-color: #4d5ae5;
}

.pic{
    background-color: #FFFFFF;

}
.portfolio{
    padding-top: 120px; 
    padding-bottom: 120px;
}

.our-team > h2,
.portfolio > h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.11;
}

.zag-tr{
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.port-div{
    display: block;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list{
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item{
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .p-port{
    transform: translateY(0%);
}

.our-team > h3,
.portfolio > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.our-team > p,
.portfolio > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}


.footer-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-link-icon{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-p-two{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;

}
.icon-list {
    height: 40px;
    width: 40px;
    display: flex;
    
  }

  .li-footer-svg{
    width: 40px;
    height: 40px;
  }

.footer-list-svg{
    display: flex;
    Flex-direction: row;
    gap: 16px;
    
}


.logo-f{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
    

}

.div-footer-one{
margin-right: 120px;
}
.div-footer{
    display: flex;
    align-items: baseline;
}
.stud{
    color: #f4f4fd;

}
.svg-footer{
    fill:#f4f4fd;
}

.footer-link-icon:hover,
.footer-link-icon:focus{
    background-color: #31d0aa;
}
.div-footer-three{
    margin-left: auto;
}
.input-footer::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #ffffff;
font-family: "Roboto", sans-serif;
}

.input-footer{
    border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color:#2e2f42;
padding-left:16px;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #ffffff;

}
.button-footer-sub{
min-width: 165px;
display: flex;
height: 40px;
justify-content: center;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background-color: #4d5ae5;
border: none;
border-radius: 4px;
margin-left: 24px;
}

.button-footer-sub:focus{
    background-color: #404bbf;
}
.form-footer{
    display: flex;
    gap: 24px;
}
.icon-footer-sub{
    margin-left: 16px;
}

.backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top:50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -50%) scale(1.5);
}
.x-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.x-button:hover,
.x-button:focus {
  border: none;
  background-color: #404bbf;
}
.svg-modal-button{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.x-button:focus > .svg-modal-button,
.x-button:hover > .svg-modal-button {
  fill: #ffffff;
}
.form-modal{
    margin-top:16px;
}
.form-modal-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
   
    margin-bottom: 16px;
}


.lable-name{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    line-height: 1.17;
    
}
.lable-form-name{
    width: 360px;
height: 58px;
margin-bottom: 8px;
}

.input-form-name{
    position: relative;
}  
.input-modal{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal-form{
    
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus + .svg-modal-form {
    fill: #4d5ae5;
  }
  .input-modal:focus{
    border-color: #4D5AE5;
  }

  .textarea-modal-comment{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .textarea-modal-comment:focus{
    border-color: #4d5ae5;
  }

  .textarea-modal-comment::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }
  .textarea-modal{
    margin-bottom: 16px;
  }

  .checkbox-p{
      margin-bottom: 24px;
  }
 
.label-policy{
    font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.span-p{
    width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-hiden:checked + .label-policy .span-p{
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.privacy-policy{
    color: #4d5ae5;
}
.button-modal-s{
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    height: 56px;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 16px 32px;
    min-width: 169px;
    border: none;
    background-color: #4d5ae5;
}

.button-modal-s:hover,
.button-modal-s:focus {
  background-color: #404bbf;
}